<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="evaluation">

<!--1. 스터디 카페당 후기 보기  -->
<select  id="evaluation_list"  parameterType="String"  resultType="Evaluation"  >
    select order_eval_id, order_eval_title, order_eval_content, TO_CHAR(order_eval_regdate, 'YYYY-MM-DD') AS order_eval_regdate, order_eval_score, cafe_id, member_id 
            from ( select a.*, rownum rnum
                from (select * from Order_evaluation where cafe_id=#{cafe_id} order by order_eval_id desc)a)
  <![CDATA[
    where rnum >=1 AND rnum <=4
    ]]>
</select>

<!--2. 전체 후기 보기  -->
<select  id="evaluation_total_list" resultType="TotalEvaluation"  >
    select  cafe_id, cafe_image1, cafe_name, member_id, order_eval_score, order_eval_content 
            from ( select a.*, rownum rnum
                from (select c.cafe_id, c.cafe_image1, c.cafe_name, o.member_id, o.order_eval_score, o.order_eval_content from cafe c, order_evaluation o 
							where c.cafe_id = o.cafe_id order by o.order_eval_id desc)a)
  <![CDATA[
    where rnum >=1 AND rnum <=16
    ]]>
</select>

<!--3. 스터디 카페당 댓글 불러오기  -->
<select  id="evaluation_reply_list" parameterType="String" resultType="EvaluationReply"  >
    select  order_eval_reply_content, TO_CHAR(order_eval_reply_regdate, 'YYYY-MM-DD') AS order_eval_reply_regdate, order_eval_id, cafe_id from order_evaluation_reply where cafe_id = #{cafe_id}
</select>

<!-- 4. 스터디 카페당 후기 개수 추출하기  -->
<select  id="getEvaluationRows"  parameterType="String"  resultType="int"  >
    select count(*) from order_evaluation where cafe_id=#{cafe_id}
</select>

<!-- 5. 후기 작성하기(게시물 번호 최대값구하기) -->
<select id="getEvaluationNum" resultType="int">
   select max(order_eval_id) from order_evaluation
</select>

<!-- 6. 공지사항 쓰기 -->
<insert id="evaluationWrite" parameterType="Evaluation">
    insert into order_evaluation(order_eval_id, order_eval_title, order_eval_content, order_eval_regdate, order_eval_score, cafe_id, member_id, reser_number)
    values(#{order_eval_id},#{order_eval_title},#{order_eval_content}, sysdate, #{order_eval_score}, #{cafe_id}, #{member_id}, #{reser_number})
</insert>

<!-- 후기 작성 후 후기작성여부 YES로 변경하기 -->
<update id="evaluationCheckChange" parameterType="int">
   update reservation set reser_evaluationCheck='YES' where reser_number=#{reser_number}
</update>
	
</mapper>
